@import "../base/variables";

label{
    font-weight: 600;
}

#featured-image-section{
   h5{
    font-weight: 600;
    font-size: 1rem;
   }

    #featured-image{
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    span{
        &:hover{
            i{
                color: white;
                cursor: pointer;
                text-shadow: 1px 2px 3px black;
            }
        }
    }

    #remove-featured-image{
        position: absolute;
        right: 1em;
        top: 2em;
    }
    #replace-featured-image{
        position: absolute;
        right: 1em;
        top: 150px;
    }
}



#options-label{
    margin-top: 10px;
}

.form-control{
    &:focus{
        border-color: $bluegreen !important;
        box-shadow: 0 0 0 0.2rem rgba($bluegreen, 0.8) !important
    }
}

#select_ingredients{
    height: 133px;
}

.selected-slider-image{
    width: 81%;
}

.swal-slider-image{
    width: 100%;
}

.swal-slider-image-active{
    border: 2px solid $bluegreen;

}