@import "../base/variables";





#widget-container{
   color: $dark;
}

#post-list-table{
    thead{
        color: $cadetblue;
    }

    th{
        &:hover{
            cursor: pointer;
        }
    }
}


