@import "base/variables";

body {
    font-family: 'Merriweather';
    background-color: $cream;
}

.loading-indicator{
    position: fixed;
    bottom: 5px;
    right: 3em;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3D7068; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4acabc; 
  }


#navbar-container{
    float:left;
}

#content-container{
    font-family: 'Montserrat';
}

.not-displayed{
    display: none;
}

.title-wrapper{
    background-color: $dark;
}

.centered{
    text-align: center;
}

.page-title{
    padding-bottom: 15px;
    padding-top:15px;
    color: $bluegreen;
}


.submenu-row{
    background-color: $dark;

    .submenu{
        list-style: none;
        padding-left: 0;
        padding-bottom: 1rem;
        margin:0;

        li{
            display: inline;
            padding-right: 1em;
            a{
                color: $cadetblue;
                &:hover{
                    text-decoration: none;
                    color: $bluegreen;
                    cursor: pointer;
                }
            }
            span{
                color: $cadetblue;
            }

    
            .active{
                color: $bluegreen;
                font-weight: 700;
                &::after{
                    /*font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f304";*/
                    content: " (active)";
                    font-size: 10px;
                }
            }

            .submenu-help{
                font-size: 12px;
            }
        }
    }
}


.widget-panel{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0.5em;

    .widget-panel-title{
        background-color: $dark;
        padding: 15px;
        color: $cadetblue;
        font-size: 18px;
        text-align: center;
    }

    .widget-body{
        padding:15px;

        .buttn{
            font-size: 20px;
        }
    }
}

.table-action{
    padding: 8px 8px !important;
    margin-right: 10px;
    &:hover{
        cursor: pointer;
    }
}

.table th, .table td{
    vertical-align: middle;
}

.featured{
    color: $yellow;

    &:hover{
        cursor: pointer;
        color: darken($yellow,5%);
    }
}

.badge-green{
    background-color: $myrtle;
    color:white;
    &:hover{
        background-color: darken($myrtle,7%)
    }
}

.badge-red{
    background-color: $error;
    color:white;
    &:hover{
        background-color: darken($error,7%)
    }
}

.buttn{
    padding: 6px 10px 6px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    &:hover{
        cursor: pointer;
    }
}


.color-error{
    color: $error;
}

.color-green{
    color:$myrtle;
}



.hidden{
    display: none;
}

.inline-b{
    display: inline-block;
}

.mobile-hidden {

    @media only screen and (max-width: 900px) {
        display:none !important;
    }
}

@media only screen and (max-width: 768px) {
    #navbar-container{
        height: 100%;
        z-index: 1;
        overflow: hidden;
        position: fixed;
    }

    #content-container{
        overflow-y: scroll;
        margin-left: 3em;
    }
}



#show_tutorial{
    position: fixed;
    bottom: 5px;
    right: 1em;
    color: $myrtle;
    transition: 0.3s all;

    &:hover{
        transform: scale(1.3);
        cursor: pointer;
        color: lighten($myrtle,15%)
    }
}


.swal2-title,.swal2-confirm,.swal2-cancel,.swal2-deny,input[type='file'],.swal2-content{
    font-family: 'Montserrat';
}

.swal2-content,.swal2-title{
    color: white !important;
}

.swal2-popup{
    background-color: $dark !important;
}

.swal2-confirm{
    background-color: $myrtle !important;
}

.swal2-progress-step{
    background-color: $bluegreen !important;
}

.swal2-active-progress-step{
    background-color: $myrtle !important;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step-line{
   background-color: $bluegreen !important;
}

.swal2-progress-steps .swal2-progress-step-line{
    background-color: $myrtle !important;
}

