@import "base/variables";

body {
    font-family: 'Merriweather';
    background-color: $cream;
}


#navbar-container{
    float:left;
}

#content-container{
    font-family: 'Montserrat';
    padding-top: 1em;
}

.not-displayed{
    display: none;
}