@import "base/variables";


nav{
    background-color: $dark;
    height: 100vh;
    width: 15em;
    font-family: 'Montserrat';
    color: $bluegreen;
    padding: 0 !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
    transition: 0.3s all;

    .collapse-navigation{
        position: absolute;
        top: 13px ;
        right: 13px;
        transition: 0.3s all;

        &:hover{
            cursor: pointer;
            color: $myrtle;
        }
    }


    a{
        color: $bluegreen;
        text-decoration: none !important;
    }
    .nav-top{
        height: 3em;
        align-items: center;
        position: relative;

        p{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 15px;
        }

        .lang-selection{
            margin-left: 1em;
            border-radius: 5px;
            background: #32292F;
            color: #99E1D9;
            padding: 3px;
            border: none;

            &:active,&:focus{
                outline: none;
            }
        }
    }

    .nav-separator{
        background-color: darken($dark, 2%);
        padding:0.5em;
        text-transform: uppercase;
        font-size: 12px;
        color: darken($bluegreen, 20%);
    }

    ul{
        margin: 0;
    }


    .nav-items{
        list-style: none;
        padding:0;

        .active{
            background-color: $bluegreen;
            color:$dark;
        }


        .nav-item{
            padding:1em;
            transition: 0.3s all;
            &:hover{
                cursor: pointer;
                background-color: $bluegreen;
                color:$dark;

                a{
                    color: $dark;
                }
            }

            .submenu-indicator{
                float: right;
                padding-top: 3px;
            }

        }

        .nav-item.disabled{
            color: $myrtle;
            &:hover{
                cursor: not-allowed;
                background-color: $myrtle;
                color:$dark;
            }
        }
    }

    #connection_status{
        position: absolute;
        bottom: 5px;
        left: 1em;
    }

    .connection-success{
        color: $success;
    }

    .connection-error{
        color: $error;
    }

}


.brand-logo{
    position: absolute;
    bottom: 10px;
    left: 9em;
    width: 80px;
}


.nav-collapsed{
    width: 3.2em;
    transition: 0.3s all;

    .brand-logo{
        display: none;
    }

    .nav-top{
        transition: 0.3s all;
        &:hover{
            cursor: pointer;
                background-color: $bluegreen;
                color:$dark;
        }
    }

    .nav-separator{
        background-color: #3D7068;
        padding: 0.5px;
    }

}


